In [23]:
import pandas as pd
import numpy as np

In [22]:
d=pd.DataFrame({'price':[1,3,5,7],'item':['sticker','mirror','glass','abc'],
                'manufactuting':[2011,2001,2012,2019]},
               index=['a','b','c','d'])
d.head()

   price     item  manufactuting
a      1  sticker           2011
b      3   mirror           2001
c      5    glass           2012
d      7      abc           2019

In [8]:
d.loc['d']

price               7
item              abc
manufactuting    2019
Name: d, dtype: object

In [13]:
d.loc[:'c'] #    ':' is mention range

   price     item  manufactuting
a      1  sticker           2011
b      3   mirror           2001
c      5    glass           2012

In [18]:
d.iloc[2]

price                5
item             glass
manufactuting     2012
Name: c, dtype: object

In [11]:
d.iloc[:2]    # not work loc fuction so use iloc

   price     item  manufactuting
a      1  sticker           2011
b      3   mirror           2001

In [14]:
d.loc['b']['item']

'mirror'

In [19]:
d.iloc[1]['item']

'mirror'

In [27]:
data=pd.DataFrame({'price':[95,25,85,42],
                   'tricker':['AXP','CSCO','DIS',np.NaN],
                 'company':['AE','ML','WD','MS'] })
data

   price tricker company
0     95     AXP      AE
1     25    CSCO      ML
2     85     DIS      WD
3     42     NaN      MS

In [29]:
data.dtypes

price       int64
tricker    object
company    object
dtype: object