In [2]:
import time
from datetime import datetime

In [3]:
datetime.now()

# in the format of year,month,day,hrs,min,sec

datetime.datetime(2020, 2, 3, 12, 56, 39, 723673)

In [20]:
#add date time 2020,2,3+295
from datetime import timedelta
datetime.now()+timedelta(days=295)
#days=295 or seconds=295 give this type format

datetime.datetime(2020, 11, 24, 10, 41, 4, 905478)

In [23]:
#find jan-31-2020 i want find this 
# in the format datetime
day="january-31-2020"
print(datetime.strptime(day,'%B-%d-%Y'))

2020-01-31 00:00:00

In [33]:
#by  using list comprehension 
[i for i in range(1,11)]   #simple way to print out list latter on comprehension

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
[i for i in range(1,11) if(i%2==0)]

[2, 4, 6, 8, 10]

In [41]:
#by  using list comprehension 
# i want to print 11:december:2015  and 17:may:2020
dates=["11:december:2015","17:may:2020"]
[datetime.strptime(i,'%d:%B:%Y') for i in dates]

[datetime.datetime(2015, 12, 11, 0, 0), datetime.datetime(2020, 5, 17, 0, 0)]

In [42]:
b=datetime.today()
b.date()

datetime.date(2020, 2, 3)

In [51]:
a=datetime.now()
a.date()

datetime.date(2020, 2, 3)

In [53]:
# take any var a/b
# 3,feb,2020
a.strftime("%d,%B,%Y")

'03,February,2020'

In [9]:
# take some dates(yyyy,mmm,dd)~ 4 to 5
# I want to take these dates as index
# generate 6 random int/no
print("-------------------------------normal way-------------------------------------------")
import pandas as pd
data=pd.DataFrame({"peoples":["sreekanth","gopi","jayanth","navya",'anusha'],
                  "qualities":["stylish guy","funny guy","nan","hardwork","simplicity"]},index=["3-2-2020","4-2-2020","5-2-2020","6-2-2020","7-2-2020"])
print(data)


print("-------------------------------datetime way(dataframe)----------------------------------------")
import numpy as np
dates=[datetime(2020,2,3),datetime(2020,2,4),
       datetime(2020,2,5),datetime(2020,2,6),datetime(2020,2,7)]
data1=pd.DataFrame({"peoples":["sreekanth","gopi","jayanth","navya",'anusha'],
                  "qualities":["stylish guy","funny guy","nan","hardwork","simplicity"]},index=dates)
print(data1)
print("--------------------------------datetime(series)---------------------------------------")
dt=pd.Series(np.random.randn(5),index=dates)
print(dt)

-------------------------------normal way-------------------------------------------
            peoples    qualities
3-2-2020  sreekanth  stylish guy
4-2-2020       gopi    funny guy
5-2-2020    jayanth          nan
6-2-2020      navya     hardwork
7-2-2020     anusha   simplicity
-------------------------------datetime way(dataframe)----------------------------------------
              peoples    qualities
2020-02-03  sreekanth  stylish guy
2020-02-04       gopi    funny guy
2020-02-05    jayanth          nan
2020-02-06      navya     hardwork
2020-02-07     anusha   simplicity
--------------------------------datetime(series)---------------------------------------
2020-02-03    0.269003
2020-02-04   -0.297455
2020-02-05    2.325541
2020-02-06    1.014697
2020-02-07    0.652613
dtype: float64

In [76]:
stamp=dt.index[0]

In [78]:
stamp

Timestamp('2020-02-03 00:00:00')

# timestamp:

* timestamp can be substitute anywhere in the datetime object
* it can store freq. information (if any info)and understand it

In [79]:
# how to do timezone converstion and other kind of manipulation
stamp

Timestamp('2020-02-03 00:00:00')

In [80]:
dt[stamp]

0.28021822934582863

In [85]:
stamp1=data1.index[4]
stamp1

Timestamp('2020-02-07 00:00:00')

In [97]:
a=datetime.today()
a

datetime.datetime(2020, 2, 3, 12, 10, 7, 731636)

In [98]:
timeStamp=datetime.timestamp(a)
print(timeStamp)

1580712007.731636

In [106]:
use=pd.date_range(start="1-1-2000",periods=1000)
use

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2002-09-17', '2002-09-18', '2002-09-19', '2002-09-20',
               '2002-09-21', '2002-09-22', '2002-09-23', '2002-09-24',
               '2002-09-25', '2002-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [108]:
fata=pd.DataFrame(np.random.randint(low=1,high=1000,size=1000),columns=["numbers"],index=use)
fata

            numbers
2000-01-01      169
2000-01-02      427
2000-01-03      331
2000-01-04      580
2000-01-05      526
2000-01-06      312
2000-01-07      485
2000-01-08      355
2000-01-09      423
2000-01-10       63
2000-01-11      679
2000-01-12      755
2000-01-13      405
2000-01-14      340
2000-01-15      166
2000-01-16      329
2000-01-17      763
2000-01-18      532
2000-01-19       70
2000-01-20      865
2000-01-21      191
2000-01-22      980
2000-01-23      726
2000-01-24      536
2000-01-25       41
2000-01-26      904
2000-01-27      574
2000-01-28      755
2000-01-29      860
2000-01-30      387
...             ...
2002-08-28      536
2002-08-29      997
2002-08-30      340
2002-08-31      969
2002-09-01      106
2002-09-02      625
2002-09-03      654
2002-09-04      486
2002-09-05      520
2002-09-06      583
2002-09-07      119
2002-09-08      261
2002-09-09      851
2002-09-10      799
2002-09-11      577
2002-09-12      542
2002-09-13      161
2002-09-14      494
2002-09-15       99
2002-09-16       79
2002-09-17      642
2002-09-18      212
2002-09-19      337
2002-09-20      777
2002-09-21      546
2002-09-22      325
2002-09-23      892
2002-09-24      222
2002-09-25       26
2002-09-26       33

[1000 rows x 1 columns]

In [112]:
fata["2001"]   #display perticular data in dates

            numbers
2001-01-01      500
2001-01-02      917
2001-01-03      377
2001-01-04      586
2001-01-05      982
2001-01-06      986
2001-01-07      543
2001-01-08      235
2001-01-09      917
2001-01-10       11
2001-01-11      480
2001-01-12      202
2001-01-13       30
2001-01-14       32
2001-01-15      340
2001-01-16      882
2001-01-17      165
2001-01-18      182
2001-01-19      371
2001-01-20      750
2001-01-21      710
2001-01-22      208
2001-01-23      660
2001-01-24      805
2001-01-25      941
2001-01-26      739
2001-01-27      628
2001-01-28      703
2001-01-29       34
2001-01-30      208
...             ...
2001-12-02      106
2001-12-03      713
2001-12-04      701
2001-12-05      247
2001-12-06      467
2001-12-07      829
2001-12-08      925
2001-12-09      221
2001-12-10      129
2001-12-11      209
2001-12-12      596
2001-12-13      788
2001-12-14      492
2001-12-15      177
2001-12-16      655
2001-12-17      205
2001-12-18      885
2001-12-19      722
2001-12-20      843
2001-12-21       97
2001-12-22      843
2001-12-23      649
2001-12-24      915
2001-12-25      776
2001-12-26      151
2001-12-27      691
2001-12-28      581
2001-12-29      352
2001-12-30      204
2001-12-31      314

[365 rows x 1 columns]

In [115]:
fata['2001-12']

            numbers
2001-12-01       39
2001-12-02      106
2001-12-03      713
2001-12-04      701
2001-12-05      247
2001-12-06      467
2001-12-07      829
2001-12-08      925
2001-12-09      221
2001-12-10      129
2001-12-11      209
2001-12-12      596
2001-12-13      788
2001-12-14      492
2001-12-15      177
2001-12-16      655
2001-12-17      205
2001-12-18      885
2001-12-19      722
2001-12-20      843
2001-12-21       97
2001-12-22      843
2001-12-23      649
2001-12-24      915
2001-12-25      776
2001-12-26      151
2001-12-27      691
2001-12-28      581
2001-12-29      352
2001-12-30      204
2001-12-31      314

In [118]:
fata1=pd.Series(np.random.randint(low=1,high=1000,size=1000),index=use)
fata1

2000-01-01    328
2000-01-02    814
2000-01-03    700
2000-01-04    510
2000-01-05    750
2000-01-06    460
2000-01-07    140
2000-01-08    631
2000-01-09    749
2000-01-10    949
2000-01-11    659
2000-01-12    265
2000-01-13    308
2000-01-14    372
2000-01-15    589
2000-01-16    285
2000-01-17    288
2000-01-18    195
2000-01-19    328
2000-01-20    123
2000-01-21    570
2000-01-22    890
2000-01-23    529
2000-01-24    414
2000-01-25    386
2000-01-26    359
2000-01-27    588
2000-01-28    874
2000-01-29    896
2000-01-30     53
             ...
2002-08-28    762
2002-08-29    328
2002-08-30    162
2002-08-31    803
2002-09-01    849
2002-09-02    912
2002-09-03    477
2002-09-04    708
2002-09-05    812
2002-09-06    965
2002-09-07     50
2002-09-08    431
2002-09-09    973
2002-09-10     68
2002-09-11    608
2002-09-12    555
2002-09-13    433
2002-09-14    308
2002-09-15    764
2002-09-16    796
2002-09-17     65
2002-09-18    254
2002-09-19    663
2002-09-20    203
2002-09-21    194
2002-09-22    479
2002-09-23    960
2002-09-24    311
2002-09-25    242
2002-09-26    893
Freq: D, Length: 1000, dtype: int32

In [121]:
fata1["2002-09-22"]   #this format work only in series not work in dataframe

479

In [12]:
from pandas.tseries.offsets import Day,MonthEnd

In [13]:
nowdate=datetime(2020,2,3)
nowdate

datetime.datetime(2020, 2, 3, 0, 0)

In [16]:
#add 2 and mutliply day( ) to the nowday var
nowdate+(2*Day())

Timestamp('2020-02-05 00:00:00')

In [18]:
nowdate+(4*MonthEnd())

Timestamp('2020-05-31 00:00:00')